{:web/security {:cors {:access-control-allow-origin [#regex "http://localhost:8080"]}
                #const :session-key "good 16-byte-key"}

 :web/auth {#const :oauth-redirect-uri "http://localhost:8080"}

 :db/connection {:dbtype "postgres"
                 :classname "org.postgresql.Driver"
                 :subprotocol "postgresql"
                 :subname "//localhost:5432/forms"
                 :user "root"
                 :username "root"
                 :dbname "forms"
                 :password "root"}}
